contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
gvar==13.1.1
kiwisolver==1.4.5
matplotlib==3.9.2
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.14.1
-e git+https://github.com/VictorG20/mc-particle-physics.git@622d4778ac6221040b30e87b79417c31fd8ce75d#egg=simulator
six==1.16.0
tzdata==2024.1
vegas==6.1.3
